
data/shapefiles/2023 Q3/Minor_Variance_Applications_2023_Q3.shp.KURTIS.255128.82372.sr.lock
data/shapefiles/2023 Q3/Minor_Variance_Applications_2023_Q3.shp.KURTIS.236428.82372.sr.lock
data/shapefiles/2023 Q3/Minor_Variance_Applications_2023_Q3.shp.KURTIS.229864.82372.sr.lock
data/shapefiles/2023 Q3/Minor_Variance_Applications_2023_Q3.shp.KURTIS.219248.82372.sr.lock
data/shapefiles/2023 Q2/Minor_Variance_Applications_2023_Q2.shp.KURTIS.255128.82372.sr.lock
data/shapefiles/2023 Q2/Minor_Variance_Applications_2023_Q2.shp.KURTIS.236428.82372.sr.lock
data/shapefiles/2023 Q2/Minor_Variance_Applications_2023_Q2.shp.KURTIS.229864.82372.sr.lock
data/shapefiles/2023 Q2/Minor_Variance_Applications_2023_Q2.shp.KURTIS.219248.82372.sr.lock
data/shapefiles/2023 Q1/Minor_Variance_Applications_2023_Q1.shp.KURTIS.255128.82372.sr.lock
data/shapefiles/2023 Q1/Minor_Variance_Applications_2023_Q1.shp.KURTIS.236428.82372.sr.lock
data/shapefiles/2023 Q1/Minor_Variance_Applications_2023_Q1.shp.KURTIS.229864.82372.sr.lock
data/shapefiles/2023 Q1/Minor_Variance_Applications_2023_Q1.shp.KURTIS.219248.82372.sr.lock
.backups/Minor Variances in the City of Hamilton.aprx
